/* The dark transparent background */
.overlay {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    left: 0;
    touch-action: none;
    z-index: 1001;
    display: none;
}

/* Mobile Menu Container */
.mobile-menu {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg);
    outline: 2px solid var(--outline);
    outline-offset: -1px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 4rem;
    padding-left: 0;
    padding-right: 0;
    touch-action: none;
    z-index: 1002;
    transition: width 0.3s ease;
    box-shadow: 2px 0 16px rgba(0, 0, 0, 0.5);
}

/* Close Button */
.mobile-menu .close-button {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 1.25rem;
    right: 1rem;
    margin: 0;
    z-index: 1003;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.mobile-menu .close-button img {
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(1);
}

/* Mobile Navigation */
.mobile-menu .mobile-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-block-start: -2.75rem;
    display: flex;
    flex-direction: column;
}

.mobile-menu .mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu .mobile-nav li {
    width: min-content;
}

.mobile-menu .mobile-nav li:last-child {
    margin-bottom: 0;
}

.mobile-menu .mobile-nav a {
    margin-left: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    display: block;
    padding: 0.5rem 0;
    transition: color 0.1s ease-in-out;
}

.mobile-menu .mobile-nav a:hover {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.mobile-menu .mobile-nav a:active {
    color: var(--accent-color-active);
    transition: color 0.1s ease-out;
}

/* Social Icons */
.mobile-menu .mobile-social-icons {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
    gap: 1rem;
}

.mobile-menu .mobile-social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
}

.mobile-menu .mobile-social-icons img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Prevent body scroll when menu is open */
body.no-scroll {
    overflow: hidden;
    pointer-events: none;
}

body.no-scroll .mobile-menu,
body.no-scroll .overlay {
    pointer-events: auto;
}