*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #0c1014;
    --background-color-active: #080a0c;
    --outline-color: #14181c;
    --text-color: #e7eff7;
    --secondary-text-color: #708090;
    --footer-link-color: #c7cfd7;
    --accent-color: #1976d2;
    --accent-color-active: #2453b3;
    --text-cyan: #1976d2;
    --text-terquoise: #19d1d1;
    --text-teal: #19d175;
    --text-green: #76d219;
    --text-yellow: #d1d119;
    --text-orange: #d17519;
    --text-red: #d11919;
    --text-magenta: #d21976;
    --text-pink: #d119d1;
    --http-value-color: #80b3e5;
    --scrollbar-bg: #0c1014;
    --scrollbar-thumb: #14181c;
    --scrollbar-thumb-hover: #1c2024;
    --scrollbar-thumb-active: #2c3034;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #e7eff7;
        --background-color-active: #c7cfd7;
        --outline-color: #c7cfd7;
        --text-color: #0c1014;
        --secondary-text-color: #708090;
        --footer-link-color: #708090;
        --accent-color: #0464c4;
        --accent-color-active: #0357ab;
        --text-cyan: #0464c4;
        --text-terquoise: #03abab;
        --text-teal: #03ab57;
        --text-green: #64c404;
        --text-yellow: #c4c404;
        --text-orange: #ab5703;
        --text-red: #ab0303;
        --text-magenta: #c40464;
        --text-pink: #ab03ab;
        --http-value-color: #083a6c;
        --scrollbar-bg: #e7eff7;
        --scrollbar-thumb: #c7cfd7;
        --scrollbar-thumb-hover: #708090;
        --scrollbar-thumb-active: #304050;
    }
}

[data-theme="dark"] {
    --background-color: #0c1014;
    --background-color-active: #080a0c;
    --outline-color: #14181c;
    --text-color: #e7eff7;
    --secondary-text-color: #708090;
    --footer-link-color: #c7cfd7;
    --accent-color: #1976d2;
    --accent-color-active: #2453b3;
    --text-cyan: #1976d2;
    --text-terquoise: #19d1d1;
    --text-teal: #19d175;
    --text-green: #76d219;
    --text-yellow: #d1d119;
    --text-orange: #d17519;
    --text-red: #d11919;
    --text-magenta: #d21976;
    --text-pink: #d119d1;
    --http-value-color: #80b3e5;
    --scrollbar-bg: #0c1014;
    --scrollbar-thumb: #14181c;
    --scrollbar-thumb-hover: #1c2024;
    --scrollbar-thumb-active: #2c3034;
}

[data-theme="light"] {
    --background-color: #e7eff7;
    --background-color-active: #c7cfd7;
    --outline-color: #c7cfd7;
    --text-color: #0c1014;
    --secondary-text-color: #708090;
    --footer-link-color: #708090;
    --accent-color: #0464c4;
    --accent-color-active: #0357ab;
    --text-cyan: #0464c4;
    --text-terquoise: #03abab;
    --text-teal: #03ab57;
    --text-green: #64c404;
    --text-yellow: #c4c404;
    --text-orange: #ab5703;
    --text-red: #ab0303;
    --text-magenta: #c40464;
    --text-pink: #ab03ab;
    --http-value-color: #083a6c;
    --scrollbar-bg: #e7eff7;
    --scrollbar-thumb: #c7cfd7;
    --scrollbar-thumb-hover: #708090;
    --scrollbar-thumb-active: #304050;
}

[data-theme="hotdogstand"] {
    --background-color: #ff0000;
    --background-color-active: #b00000;
    --outline-color: #b00000;
    --text-color: #ffff00;
    --secondary-text-color: #ff8000;
    --footer-link-color: #ff8000;
    --accent-color: #00ffff;
    --accent-color-active: #008080;
    --text-cyan: #1976d2;
    --text-terquoise: #19d1d1;
    --text-teal: #19d175;
    --text-green: #76d219;
    --text-yellow: #d1d119;
    --text-orange: #d17519;
    --text-red: #d11919;
    --text-magenta: #d21976;
    --text-pink: #d119d1;
    --http-value-color: #80b3e5;
    --scrollbar-bg: #ff0000;
    --scrollbar-thumb: #b00000;
    --scrollbar-thumb-hover: #ff8000;
    --scrollbar-thumb-active: #ffff00;
}

body, .card, .site-header, .site-footer, .load-more-button {
    -webkit-transition: background-color 0.1s ease-in-out, outline-color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out, outline-color 0.1s ease-in-out;
    -o-transition: background-color 0.1s ease-in-out, outline-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out, outline-color 0.1s ease-in-out;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('assets/ttf/DejaVuSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVu Sans';
    src: url('assets/ttf/DejaVuSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('assets/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none; /* Hide scrollbar for mobile */
}

.site-header .container {
    display: none; /* Hide the desktop container */
}

::-webkit-scrollbar {
    display: none; /* Hide scrollbar for mobile */
}

a {
    color: var(--accent-color);
    text-decoration: none;
}
a:hover {
    color: var(--accent-color);
    text-decoration: underline;
    transition: color 0.1s ease-in-out;
}
a:active {
    color: var(--accent-color-active);
    text-decoration: underline;
    transition: color 0.1s ease-out;
}

/* Body styles */
body {
    font-family: 'DejaVu Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

[data-theme="hotdogstand"] body {
    font-family: 'Comic Sans MS', sans-serif;
}

.heading {
    font-family: inherit;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.subheading {
    font-family: inherit;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
}

.copy {
    font-family: inherit;
    font-weight: normal;
    font-size: 1rem;
    text-align: left;
}

.subtext {
    font-family: inherit;
    font-weight: normal;
    font-size: 0.75rem;
    color: var(--secondary-text-color);
}

code {
    font-family: 'JetBrains Mono', monospace;
}

.inline-code {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 0.875rem;
    outline: 2px solid var(--outline-color);
    outline-offset: -1px;
}

.inline-code [data-theme="hotdogstand"] {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #ff0000;
    color: #ffff00;
    outline-color: #b00000;
}

.code-block {
    width: min-content;
    width: 100%;
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--background-color);
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 0.875rem;
    outline: 2px solid var(--outline-color);
    outline-offset: -1px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25);
    overflow-x: auto;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
    -webkit-overflow-scrolling: touch;
}

.code-block [data-theme="hotdogstand"] {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #ff0000;
    color: #ffff00;
    outline-color: #b00000;
}

.language-http code {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.language-http .method {
    color: var(--text-magenta);
}
.language-http .host {
    color: var(--text-cyan);
}
.language-http .host-value {
    color: var(--http-value-color);
}
.language-http .header {
    color: var(--text-cyan);
}
.language-http .header-value {
    color: var(--http-value-color)
}
.language-http .url {
    color: var(--text-cyan);
}

.language-json {
    color: var(--secondary-text-color);
}
.language-json .braces-0 {
    color: var(--text-yellow);
}
.language-json .braces-1 {
    color: var(--text-pink);
}
.language-json .braces-2 {
    color: var(--text-terquoise);
}
.language-json .key {
    color: var(--text-green);
}
.language-json .string {
    color: var(--text-magenta);
}
.language-json .number {
    color: var(--text-cyan);
}
.language-json .boolean {
    color: var(--text-orange);
}

.language-python .import {
    color: var(--text-cyan);
}
.language-python .function {
    color: var(--text-green);
}
.language-python .string {
    color: var(--text-magenta);
}
.language-python .comment {
    color: var(--secondary-text-color);
}
.language-python .number {
    color: var(--text-yellow);
}
.language-python .keyword {
    color: var(--text-cyan);
}
.language-python .variable {
    color: var(--text-green);
}

/* Header styles */
.site-header {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    touch-action: pan-x;
    overscroll-behavior: scroll;
}
/* Border on bottom with offset */
.site-header::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; /* Offset the border by -1px */
    width: 100%;
    height: 2px;
    background-color: var(--outline-color);
    z-index: 1; /* Ensure the border is above the shadow */
}
/* Shadow underneath */
.site-header::after {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 100%;
    height: 8px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    pointer-events: none;
    z-index: 0;
}

.site-header .container-mobile {
    display: flex !important;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    position: relative;
}

.site-header .logo {
    display: flex;
    height: 1.5rem;
    width: auto;
    color: var(--text-color);
    transition: color 0.1s ease-in-out;
}

.site-header .logo:hover {
    color: var(--accent-color);
    transition: color 0.1s ease-in-out;
}

.site-header .logo:active {
    color: var(--accent-color-active);
    transition: color 0.1s ease-out;
}

.mobile-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    margin-right: auto;
}

.mobile-menu-toggle img {
    height: 1.5rem;
}

.theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}

.theme-toggle img {
    height: 1.5rem;
}

.overlay {
    opacity: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    position: fixed;
    touch-action: none;
    z-index: 1001; /* Ensure it is above the header, but below the mobile menu */
}

.mobile-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    overflow-x: hidden;
    padding-top: 4rem;
    border-right: 2px solid var(--outline-color);
    touch-action: none;
    z-index: 1002; /* Ensure it is above the header, but below the dark overlay */
}

.mobile-menu .close-button {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 1.25rem; /* Match the height of the elements on the header */
    right: 1rem;
    margin: 0;
    z-index: 1003; /* Ensure it is above other elements */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu .close-button img {
    width: 100%; /* Ensure the SVG scales to fit the button */
    height: 100%;
}

.mobile-menu .mobile-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-block-start: -2.75rem; /* Counter the padding of the header, then adjust to match the height of the close button */
    display: flex;
    flex-direction: column;
}

.mobile-menu .mobile-nav li {
    margin-bottom: 0.5rem;
}

.mobile-menu .mobile-nav li:last-child {
    margin-bottom: 0;
}

.mobile-menu .mobile-nav a {
    margin-left: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    transition: color 0.1s ease-in-out;
}

.mobile-menu .mobile-nav a:hover {
    color: var(--accent-color);
    transition: color 0.1s ease-in-out;
}

.mobile-menu .mobile-nav a:active {
    color: var(--accent-color-active);
    transition: color 0.1s ease-out;
}

.mobile-menu .divider-horizontal {
    width: 50%;
    height: 2px;
    background-color: var(--outline-color);
    margin: 1rem auto;
}

.mobile-menu .mobile-social-icons {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
    gap: 1rem;
}

.mobile-menu .mobile-social-icons img {
    width: 1.5rem;
    height: 1.5rem;
}

body.no-scroll {
    overflow: hidden; /* Prevent scrolling when menu is open */
    pointer-events: none; /* Disable interaction with other elements */
}

body.no-scroll .mobile-menu {
    pointer-events: auto; /* Allow interaction with the menu */
}

.container-mobile a {
    position: absolute; /* Center the logo */
    left: 50%;
    transform: translateX(-50%);
}

.site-main {
    margin-top: 6rem;
}

.site-main .heading {
    margin: 0 1rem;
}

.card {
    background-color: var(--background-color);
    padding: 1rem;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    text-align: left;
    outline-color: var(--outline-color);
    outline-style: solid;
    outline-offset: -1px;
    outline-width: 2px;
    margin: 2rem 1rem;
}

.card h1 {
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
    text-transform: capitalize;
}

.word {
    gap: 0.5rem;
    word-break: break-all;
}

.pos {
    font-size: 1rem;
    color: var(--secondary-text-color); /* Fallback color */
    margin-left: 0.5rem;
    display: inline-flex;
    align-self: center;
    font-weight: normal;
    white-space: nowrap;
}

.pos-noun {
    color: #1976d2; /* Cyan */
}
.pos-verb {
    color: #76d219; /* Green */
}
.pos-adjective {
    color: #d21976; /* Magenta */
}

.ipa {
    font-size: 1rem;
    color: var(--secondary-text-color);
    margin-top: 0.5rem;
}

.definition {
    font-size: 1rem;
    color: var(--text-color);
    margin-top: 0.5rem;
}

.date {
    font-size: 0.75rem;
    color: var(--secondary-text-color);
    margin-top: 0.5rem;
}

.site-main .divider-horizontal {
    width: 50%;
    height: 2px;
    background-color: var(--outline-color);
    margin: 2rem auto;
    display: flex;
    align-items: center;
}

.load-more-button {
    width: 8rem;
    height: 2rem;
    background-color: var(--background-color);
    color: var(--text-color);
    outline: 2px solid var(--outline-color);
    outline-offset: -1px;
    border-radius: 16px;
    border: none;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    transition: background-color 0.1s ease-in-out, outline-color 0.1s ease-in-out;
}

.load-more-button:hover {
    background-color: var(--background-color);
    outline-color: var(--accent-color);
    transition: background-color 0.1s ease-in-out, outline-color 0.1s ease-in-out;
}

.load-more-button:active {
    background-color: var(--background-color-active);
    outline-color: var(--accent-color-active);
    transition: background-color 0.1s ease-out, outline-color 0.1s ease-out;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.subscribe-options {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-options .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    text-align: center;
    margin: 1rem 0;
    width: 100%;
    height: auto;
}

.subscribe-options .card h3 {
    font-size: 1.5rem;
    margin: 0;
}

.subscribe-options .card p {
    font-size: 1rem;
    margin: 0;
}

.subscribe-options .card .subtext {
    font-size: 0.75rem;
    color: var(--secondary-text-color);
}

.card-icon {
    width: 6rem;
    height: 6rem;
}

.card-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button {
    width: 100%;
    height: 2rem;
    background-color: var(--background-color);
    color: var(--text-color);
    outline: 2px solid var(--outline-color);
    outline-offset: -1px;
    border-radius: 16px;
    border: none;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s ease-in-out, outline-color 0.1s ease-in-out;
}

.button:hover {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--background-color);
    outline-color: var(--accent-color);
    transition: background-color 0.1s ease-in-out, outline-color 0.1s ease-in-out;
}

.button:active {
    background-color: var(--background-color-active);
    outline-color: var(--accent-color-active);
    transition: background-color 0.1s ease-out, outline-color 0.1s ease-out;
}

.email-subscription-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.email-subscription-form input[type="email"] {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    outline: 2px solid var(--outline-color);
    outline-offset: -1px;
    border: none;
    border-radius: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: inset 0 0px 8px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    font-family: inherit;
    text-indent: 0.5rem;
    transition: outline-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.email-subscription-form input[type="email"]:focus {
    outline-color: var(--accent-color);
    background-color: var(--background-color-active);
    transition: outline-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.email-subscription-form .button {
    width: 4rem;
    height: 2rem;
    border-radius: 16px;
}

.about-wotd .subheading {
    margin: 2rem 1rem 0.5rem 1rem;
}

.about-wotd .copy {
    margin: 0 1rem;
}

.attribution .subheading {
    margin: 2rem 1rem 0.5rem 1rem;
}

.attribution .copy {
    margin: 0 1rem;
}

.quote-container {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    margin: 2rem 1rem;
}

.profile-pic {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
    border: 2px solid var(--outline-color);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.quote {
    display: flex;
    flex-direction: column;
}

.quote-author {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}

.quote-role {
    display: none; /* Hide role for mobile */
}

.quote-text {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: var(--text-color);
    font-style: italic;
}

.api-docs {
    padding: 1rem;
}

.api-docs .heading {
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.api-docs .subheading {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.api-docs p {
    font-size: 1rem;
    color: var(--text-color);
    margin: 0.5rem 0;
}

.api-docs li {
    font-size: 1rem;
    color: var(--text-color);
    list-style-position: inside;
}

.api-docs ul {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.api-docs ul li::marker {
    color: var(--secondary-text-color);
}

.contact {
    padding: 0 1rem;
}

.contact .heading {
    margin-bottom: 2rem;
}

.contact .subheading {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.contact p {
    font-size: 1rem;
    color: var(--text-color);
    margin: 0.5rem 0;
}

.asterisk-required {
    color: var(--text-red);
    font-weight: bold;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.form-header .divider-vertical {
    display: none; /* Hide vertical divider for mobile */
}

.contact-form input {
    width: 16rem;
    height: 1.5rem;
    padding: 0.5rem;
    outline: 2px solid var(--outline-color);
    outline-offset: -1px;
    border: none;
    border-radius: 12px;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: inset 0 0px 8px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    font-family: inherit;
    text-indent: 0.5rem;
    transition: outline-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.contact-form textarea {
    width: 100%;
    height: 16rem;
    padding: 1rem;
    outline: 2px solid var(--outline-color);
    outline-offset: -1px;
    border: none;
    border-radius: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: inset 0 0px 8px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    font-family: inherit;
    resize: none;
    overflow-y: auto;
    min-height: 8rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    transition: outline-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.contact-form button {
    width: 12rem;
    height: 2rem;
    background-color: var(--background-color);
    color: var(--text-color);
    outline: 2px solid var(--outline-color);
    outline-offset: -1px;
    border-radius: 16px;
    border: none;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s ease-in-out, outline-color 0.1s ease-in-out;
}
.contact-form button:hover {
    background-color: var(--background-color);
    outline-color: var(--accent-color);
    transition: background-color 0.1s ease-in-out, outline-color 0.1s ease-in-out;
}
.contact-form button:active {
    background-color: var(--background-color-active);
    outline-color: var(--accent-color-active);
    transition: background-color 0.1s ease-out, outline-color 0.1s ease-out;
}

/* Footer styles */
.site-footer {
    height: 2rem;
    background-color: var(--background-color);
    border-top: 2px solid var(--outline-color);
    margin-top: -1px; /* Offset the border by -1px */
    display: flex;
    justify-content: center;
}

.site-footer .container {
    display: none; /* Hide the desktop footer container */
}

.site-footer .container-mobile {
    display: flex !important;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.site-footer p {
    margin: 0;
    font-size: 0.75rem;
    color: var(--secondary-text-color);
}

.hide-mobile {
    display: none !important;
}