bin
src/extensions/discord/.env
src/extensions/discord/config.json
src/extensions/discord/subscribers.db
src/extensions/instagram/.env
src/extensions/instagram/config.json
src/extensions/site/config.json
src/extensions/telegram/.env
src/extensions/telegram/config.json

src/extensions/.dormant/discord/.env
src/extensions/.dormant/discord/config.json
src/extensions/.dormant/discord/subscribers.db
src/extensions/.dormant/instagram/.env
src/extensions/.dormant/instagram/config.json
src/extensions/.dormant/site/config.json
src/extensions/.dormant/telegram/.env
src/extensions/.dormant/telegram/config.json