__pycache__/
**/__pycache__/

.env
.config
config.json

/dat/wotd.db
/dat/splash.txt

/log/
/log/**

/src/extensions/discord-bot/.env
/src/extensions/discord-bot/config.json
/src/extensions/discord-bot/subscribers.db

/src/extensions/site/.env
/src/extensions/site/config.json
/src/extensions/site/messages/
/src/extensions/site/messages/**
