/* Default (Dark Theme) */
:root {
    --background-color: #1b1d1f;
    --background-color-active: #121314;
    --outline-color: #282b2e;
    --text-color: #ffffff;
    --secondary-text-color: #787c80;
    --footer-link-color: #cad8e6;
    --primary-color: #1976d2;
    --primary-color-active: #2453b3;
    --scrollbar-bg: #1b1d1f;
    --scrollbar-thumb: #282b2e;
    --scrollbar-thumb-hover: #363a3d;
    --scrollbar-thumb-active: #43494d;
}

/* Light Theme (Override with data-theme='light') */
[data-theme='light'] {
    --background-color: #1b1d1f;
    --text-color: #ffffff;
    --primary-color: #1976d2;
}

/* Hot Dog Stand Theme (Override with data-theme='hotdog') */
[data-theme='hotdog'] {
    --background-color: #ffaa00;
    --text-color: #000000;
    --secondary-text-color: #000000;
    --footer-link-color: #000000;
    --primary-color: #ff0000;
}

/* Cheesy ahh custom scrollbar */
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 8px;
    border: 4px solid var(--scrollbar-bg);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}
::-webkit-scrollbar-thumb:active {
    background: var(--scrollbar-thumb-active);
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('assets/fonts/DejaVuSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVu Sans';
    src: url('assets/fonts/DejaVuSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

/* Basic styling for body */
body {
    font-family: 'DejaVu Sans', sans-serif;
    color: var(--text-color);
    line-height: 1.6;
}

/* Top bar with centered outline on bottom */
.top-bar {
    height: 64px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Border on bottom with offset */
.top-bar::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; /* Offset the border by -1px */
    width: 100%;
    height: 2px; /* Height of the border */
    background-color: var(--outline-color); /* Color of the border */
    z-index: 1; /* Ensure the border is above the shadow */
}

/* Shadow underneath */
.top-bar::after {
    content: '';
    position: absolute;
    bottom: -16px;
    width: 100%;
    height: 16px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    pointer-events: none;
    z-index: 0;
}

/* Logo styling */
.top-bar .logo-left,
.top-bar .left-links,
.top-bar .logo-right {
    height: 24px;
    vertical-align: middle;
}

/* Top bar content styling */
.top-bar-content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Left logo styling */
.top-bar .logo-left {
    fill: var(--text-color);
    transition: fill ease 0.2s;
}

.top-bar .logo-left:hover {
    fill: var(--primary-color);
}

/* Left links styling, on the LEFT side of the top bar */
.top-bar .left-links {
    display: flex;
}

.top-bar .left-links a {
    margin-left: 0;
    margin-right: 16px;
    font-family: 'DejaVu Sans', sans-serif;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

.top-bar .left-links a:first-child {
    margin-right: 0;
    margin-left: 16px;
}

/* Hover effect for left links */
.top-bar .left-links a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}
.top-bar .left-links a:active {
    color: var(--primary-color-active);
}

/* Vertical divider styling */
.nav-divider {
    height: 16px;
    width: 2px;
    background-color: var(--outline-color);
    margin: 0 23px;  /* With 2px width, the distance between the links is 48px */
    align-self: center;
}

/* Countdown styling */
.countdown {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    z-index: 1;
    user-select: none;
}

/* Background box behind countdown */
.countdown::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 24px); /* 24px wider than the text */
    height: 24px;
    background-color: var(--background-color);
    outline-color: var(--background-color-active);
    outline-style: solid;
    outline-width: 2px;
    outline-offset: -1px;
    z-index: -1;
    border-radius: 8px;
}

/* All buttons on the right side of the top bar */
.right-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* My CSS is absurdly inconsistent, I'm sorry */
.right-buttons .nav-divider {
    margin: 8px;
}

/* Theme toggle button styling */
.theme-toggle {
    margin-right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Logos on the right side of the top bar */
.social-logo {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Top header styling */
.top-header {
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    margin: 0;
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: center;
}
.first-top-header {
    margin-top: 128px;
}

/* Card Styling */
.card {
    width: 1024px;
    height: auto;
    background-color: var(--background-color);
    outline-width: 2px;
    outline-color: var(--outline-color);
    outline-style: solid;
    outline-offset: -1px;
    border-radius: 16px;
    position: relative;
    
    /* Adding the shadow */
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);

    /* Centering the card horizontally */
    margin: 0px auto;
    margin-top: 128px;  /* 64px margin + 64px top bar height */

    /* Create padding inside the card */
    padding: 16px;

    /* Centering the card */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    /* Keeps the card from expanding */
    box-sizing: border-box;

    /* Enable word wrap */
    word-wrap: break-word;

    /* Transition for hover effect */
    transition: outline-color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

/* Card hover effect */
.card:hover {
    outline-color: var(--primary-color);
    cursor: pointer;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}
/* Card hover effect for active state */
.card:active {
    outline-color: var(--primary-color-active);
    background-color: var(--background-color-active);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}

/* Word styling */
.card .word {
    background-color: inherit;
    font-family: 'DejaVu Sans', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: var(--text-color);
    margin: 0;
}

/* Word type styling */
.card .word .word-type {
    font-family: 'DejaVu Sans', sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: var(--text-color);
    margin-left: 8px;
    vertical-align: middle;
}

/* Different colors for different word types */
.card .word .word-type-noun {
    color: #19d1d1; /* Cyan */
}
.card .word .word-type-verb {
    color: #d119d1; /* Magenta */
}
.card .word .word-type-adjective {
    color: #d1d119; /* Yellow */
}
/* Like an adverb is ever gonna show up on WOTD lol, we're not even gonna bother with articles or conjunctions */
.card .word .word-type-adverb {
    color: #d11919; /* Red */
}

/* IPA styling */
.card .ipa {
    background-color: inherit;
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 24px;
    color: var(--text-color);
    margin-top: 0;
    display: flex;
    align-items: center;
}

/* Pronunciation button styling */
.card .ipa .pronunciation {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    display: flex;
    justify-content: center;
}

/* Definition styling */
.card .definition {
    background-color: inherit;
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 24px;
    color: var(--text-color);
    margin-top: 16px; /* Add space between the IPA and the definition */
}

/* Date styling */
.card .date {
    background-color: inherit;
    font-family: 'DejaVu Sans', sans-serif;
    font-weight: medium;
    font-size: 14px;
    color: var(--secondary-text-color);
    margin-top: 16px;
}

/* Maximize button styling */
.card .maximize {
    cursor: pointer;
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Divider styling */
.divider {
    height: 2px;
    background-color: var(--outline-color);
    margin: 63px auto;  /* 63px margin + 2px height to make the distance of the cards 128px, make a pull request if this is bad web design */
    width: 512px;
}

/* Previous card styling */
.card-previous {
    width: 1024px;
    height: auto;
    background-color: var(--background-color);
    outline-width: 2px;
    outline-color: var(--outline-color);
    outline-style: dashed;
    outline-offset: -1px;
    border-radius: 16px;
    position: relative;
    
    /* Adding the shadow */
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);

    /* Centering the card horizontally */
    margin: 0px auto;
    margin-top: 64px;

    /* Create padding inside the card */
    padding: 16px;

    /* Centering the card */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    /* Enable word wrap */
    word-wrap: break-word;

    /* Keeps the card from expanding */
    box-sizing: border-box;
}

/* Custom button styling */
.load-more-button {
    height: 32px;
    width: 128px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 16px;
    border: 2px solid var(--outline-color);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    font-family: 'DejaVu Sans', sans-serif;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);

    /* Center the button */
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-top: 48px;
}

.load-more-button:hover {
    border-color: var(--primary-color);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}

.load-more-button:active {
    border-color: var(--primary-color-active);
    background-color: var(--background-color-active);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}

.subscribe-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 32px;
}
.card-subscribe {
    width: 320px;
    height: 320px;
    background-color: var(--background-color);
    outline-width: 2px;
    outline-color: var(--outline-color);
    outline-style: solid;
    outline-offset: -1px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    display: block;
    justify-content: space-between;
}
.card-subscribe .header {
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
    margin: 0;
    margin-top: 16px;
    text-align: center;
}
.card-subscribe .subscribe-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 16px;
}
.card-subscribe .email-subscribe {
    display: flex;
    align-items: center;
}
.card-subscribe .email-input {
    height: 32px;
    width: 250px;  /* 288 - 38 (For subscribe-button) = 250 */
    background-color: var(--background-color);
    color: var(--text-color);
    outline: 2px solid var(--outline-color);
    outline-offset: -1px;
    border: none;
    border-radius: 8px 0 0 8px;
    transition: outline-color 0.2s ease;
    font-family: 'DejaVu Sans', sans-serif;
    padding-left: 8px;
    box-sizing: border-box;
}
.card-subscribe .email-input:focus {
    outline-color: var(--primary-color);
}
.card-subscribe .subscribe-button {
    height: 32px;
    width: auto;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 0 8px 8px 0;
    border: none;
    outline: 2px solid var(--outline-color);
    outline-offset: -1px;
    transition: outline-color 0.2s ease, background-color 0.2s ease;
    font-family: 'DejaVu Sans', sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.card-subscribe .subscribe-button:hover {
    outline-color: var(--primary-color);
}
.card-subscribe .subscribe-button:active {
    outline-color: var(--primary-color-active);
    background-color: var(--background-color-active);
}
.card-subscribe .logo-discord {
    width: 96px;
    height: 190px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
}
.card-subscribe .logo-email {
    width: 96px;
    height: 174px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
}
.card-subscribe .logo-telegram {
    width: 96px;
    height: 96px;
    height: 184px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
}
.card-subscribe .button {
    height: 32px;
    width: 138px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 8px;
    outline: 2px solid var(--outline-color);
    outline-offset: -1px;
    transition: outline-color 0.2s ease, background-color 0.2s ease;
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 14px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    box-sizing: border-box;
}
.card-subscribe .button:hover {
    outline-color: var(--primary-color);
}
.card-subscribe .button:active {
    outline-color: var(--primary-color-active);
    background-color: var(--background-color-active);
}
.card-subscribe .button-container {
    column-gap: 8px;
    display: flex;
    flex-direction: row;
    padding: 0 16px;
}
.card-subscribe .card-text {
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 24px;
    color: var(--text-color);
    margin: 0;
    text-align: center;
}

/* Bottom Text Styling */
.bottom-text {
    display: flex;
    justify-content: center;
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 14px;
    color: var(--secondary-text-color);
    text-align: center;
    margin-top: 32px;
}

/* About styling */
.about-container {
    max-width: 1280px;
    margin: 0 auto;
    display: block;
    justify-content: left;
    padding-left: 16px;
    padding-right: 16px;
}
.about-content {
    margin-left: 16px;
    margin-bottom: 16px;
}
.about-header {
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    text-align: left;
}
.about-text {
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 14px;
    color: var(--text-color);
    text-align: left;
}

/* Quote styling */
.quote-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.profile-pic {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 24px;
    margin-left: 16px;
    outline: 2px solid var(--outline-color);
    outline-offset: -1px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.quote-author {
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
    text-align: left;
    align-self: flex-start;
    margin-bottom: 4px;
}
.quote-role {
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: var(--secondary-text-color);
    text-align: left;
    align-self: flex-start;
    margin-left: 8px;
}
.quote-text {
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 14px;
    color: var(--text-color);
    align-self: center;
    flex-grow: 1;
}

/* Footer Styling */
.footer {
    height: 32px;
    min-height: 32px;
    margin-top: 48px;
    background-color: var(--background-color);
    color: var(--secondary-text-color);
    padding: 0 16px;
    text-align: center;
    border-top: 2px solid var(--outline-color);
    font-size: 14px;
}

/* Flexbox layout */
.footer-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'DejaVu Sans', sans-serif;
}

.footer::after {
    max-width: 1280px;
}

/* Footer links */
.footer-left:first-child {
    margin-left: 16px;
}

.footer-right {
    gap: 16px;
    display: flex;
    align-items: center;
}

.footer-right a {
    color: var(--footer-link-color);
    text-decoration: none;
    transition: color 0.2s ease;
}

.footer-right a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
.footer-right a:active {
    color: var(--primary-color-active);
}

.footer-right a:last-child {
    margin-right: 16px;
}