:root {
    --background-color: #1b1d1f;
    --background-color-active: #121314;
    --outline-color: #282b2e;
    --text-color: #ffffff;
    --secondary-text-color: #787c80;
    --footer-link-color: #cad8e6;
    --primary-color: #1976d2;
    --primary-color-active: #2453b3;
    --scrollbar-bg: #1b1d1f;
    --scrollbar-thumb: #282b2e;
    --scrollbar-thumb-hover: #363a3d;
    --scrollbar-thumb-active: #43494d;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #1b1d1f;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
textarea {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    flex: 1;
    width: 100%;
    background-color: #1b1d1f;
    outline: none;
    color: #ffffff;
    border: none;
    resize: none;
    padding: 8px;
    box-sizing: border-box;
}
form {
    display: flex;
    background-color: #1b1d1f;
    padding: 8px;
    box-sizing: border-box;
}
input::placeholder {
    color: #787c80;
}
input {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    flex: 1;
    padding-left: 8px;
    margin-right: 8px;
    background-color: #1b1d1f;
    color: #ffffff;
    border: none;
    outline-style: solid;
    outline-color: #282b2e;
    outline-width: 2px;
    outline-offset: -1px;
    border-radius: 8px;
    transition: outline-color 0.2s ease;
}
input:focus {
    outline-color: #1976d2;
}
button {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    padding: 8px 8px;
    background-color: #1b1d1f;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    outline-style: solid;  /* TODO: Make dashed until a command is entered */
    outline-color: #282b2e;
    outline-width: 2px;
    outline-offset: -1px;
    cursor: pointer;
    transition: background-color 0.2s ease, outline-color 0.2s ease;
}
button:hover {
    outline-color: #1976d2;
}
button:active {
    background-color: #121314;
    outline-color: #2453b3;
}
@media (max-width: 600px) {
    input, button {
        padding: 10px;
        font-size: 14px;
    }
    form {
        flex-direction: column;
    }
    input {
        margin-right: 0;
        margin-bottom: 8px;
    }
}